<!--footer-->
<footer>
    <nav class="navbar fixed-bottom navbar-light bg-warning">
        <div class="container-fluid d-flex flex-column align-items-center">
            <h6 class="navbar-text text-center">&copy; 2024 RecipeBook. All Rights Reserved.</h6>
            <a href="/contactus" class="btn btn-secondary mt-2">Contact Us</a>
        </div>
    </nav>
</footer>
</body>
</html>