<%- include('partials/header') %>
<%- include('partials/main_nav') %>

<body>
    <main>
        <section class="aboutus d-flex flex-column align-items-center text-center">
            <h1>About RecipeMaster</h1>
            <p>
                Welcome to RecipeMaster, your go-to application for organizing, managing, and sharing your favorite recipes!
            </p>
            <p>
                Whether you're a home cook or a professional chef, RecipeMaster helps you keep track of your culinary creations and discover new dishes. 
                Easily add, view, edit, and delete recipes with our user-friendly interface.
            </p>
            <p>
                Built with <strong>Node.js</strong>, <strong>ExpressJS</strong>, and <strong>MongoDB</strong>, this application is designed to be fast, secure, and efficient.
            </p>
            <p>
                Thank you for choosing RecipeMaster!
            </p>

            <h2>Why Choose RecipeMaster?</h2>

            <ul>
                <li><strong>Easy to Use:</strong> The simple, intuitive interface makes recipe management a breeze.</li>
                <li><strong>Personalized:</strong> Save and organize recipes the way you want.</li>
                <li><strong>Accessible:</strong> Access your recipes from anywhere on any device.</li>
                <li><strong>Shareable:</strong> Share your favorite recipes with friends and family.</li>
                <li><strong>Time-Saving:</strong> Quickly find recipes with advanced search features and filters.</li>
            </ul>

        </section>
    </main>

    <%- include('partials/footer') %>
</body>