<%- include('partials/header') %>
<%- include('partials/main_nav') %>

<body>
    <main>
        <section class="home d-flex flex-column align-items-center text-center">
            <h1>Welcome to RecipeMaster!</h1>
            <p>Your ultimate tool for organizing, managing, and sharing recipes.</p>
        

        </section>
    </main>
    <%- include('partials/footer') %>

</body>