<%- include('partials/header') %>
<%- include('partials/main_nav') %>
    <!--Main content-->
    <div class="container">
        <h1 class="text-center"><%= title %></h1>
    </div>
<%- include('partials/footer') %>